        <p class="footer">
        <a class=footer href="{RSS}">RSS</a> <br/>
        <small class=footer><em>Powered by <b><a href=https://github.com/sylGauthier/b1ast>b1ast</a></b>,
                                           <b><a href=https://www.lighttpd.net/>lighttpd</a></b>,
                                           <b><a href=https://git-scm.com/>git</a></b>
            </em></small>
        </p>
    </body>
</html>
