@import "styles.css";

a.index {
    color: inherit;
    text-decoration: inherit;
}

p.index {
    margin-top:0;
    margin-bottom:0;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
}

p.index:hover {
    background: #333322;
}
