html {
    height: 100%;
}

body {
    background-color: #202020;
    color: #F0F0F0;
    width: 50%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace; /*"Times New Roman", Times, serif;*/
    font-size: 14px;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

a {
    color: inherit;
    text-decoration: inherit;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.imgdescr {
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #A0A0A0;
}

p.banner {
    margin-top: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    background-color: #005577;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: monospace;
}

a.footer {
    color: inherit;
    text-decoration: inherit;
}

p.footer {
    margin-top: 100px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    background-color: #005577;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: monospace;
}

small.footer {
    font-size: 12px;
}
